<div class="container">
    <h2>Edit article in database</h2>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Title:</label>
            <div class="col-sm-6">
                <input type="text" name="title" ng-model="all.articles[0].title" class="form-control" id="title" placeholder="Enter title">
            </div>
        </div>
        Id_press{{all.articles[0].id_press}}
        <div class="form-group">
            <label class="control-label col-sm-2">Press:</label>
            <div class="col-sm-6"  ng-controller="NavBarCtrl">
                <select class="form-control" name="id_press" ng-model="all.articles[0].id_press" required="">
                    <option value="{{item.id}}" ng-repeat="item in press.articles">{{item.title}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="comment">Text:</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="text" ng-model="all.articles[0].text" rows="5" id="comment" placeholder="Enter text"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="comment">Date:</label>
            <div class="col-sm-6">
                <p class="input-group">
                    <input type="text" name="data" placeholder="{{all.data}}" ng-model="all.articles[0].data" class="form-control" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" max-date="'2015-06-22'"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><fa name="calendar"></fa></button>
                </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-click="submitData(all)" class="btn btn-default">Submit</button>
            </div>
        </div>
        <div class="alert-container">
            <div class="alert alert-success text-center" data-ng-show="success" role="alert">{{success}}</div>
            <div class="alert alert-warning text-center" data-ng-show="error" role="alert">{{error}}</div>
        </div>
    </form>
</div>
